body {
    background-color: lavender;
}

.cardbody {
    border: 2px solid black;
    padding: 1%;
    margin:  1%;
    text-align: center;
    width: 26%;
    border-radius: 5%;
}
.cardbody img {
    border: 1px solid black;
    padding: 2%;
    margin: 2%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
.card {
    display: flex;
    flex-wrap: wrap;
}
h3 {
    color: lightblue;
}
s {
     color: lightgray;
}
button {
    padding: 2%;
    background-color: green;
    color: white;
}


@media only screen and (min-width:320px) and (max-width:480px) {
    body {
        background-color: lavender;
    }
    
    .cardbody {
        border: 2px solid black;
        padding: 1%;
        margin:  1%;
        text-align: center;
        width: 90%;
        border-radius: 5%;
        font-size: 30px;
    }
    .cardbody img {
        border: 1px dotted black;
        padding: 2%;
        margin: 2%;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto ;
    }
    .card {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    h3 {
        color: lightblue;
    }
    s {
        color: lightgray;
    }
    button {
        padding: 2%;
        background-color: green;
        color: white;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    body {
        background-color: lavender;
    }
    
    .cardbody {
        border: 2px solid black;
        padding: 1%;
        margin:  1%;
        text-align: center;
        width: 90%;
        border-radius: 5%;
    }
    .cardbody img {
        border: 1px dotted black;
        padding: 2%;
        margin: 2%;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto ;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    h3 {
        color: lightblue;
    }
    s {
         color: lightgray;
    }
    button {
        padding: 2%;
        background-color: green;
        color: white;
    }
    .cardbody{
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .cardbody div {
        display: block;
        margin-right:  auto;
        margin-top:  auto;
        margin-bottom:  auto;
    }
}