body {
  background-color: #e2e0d4;
}
/* basic styling on cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  border: 1px solid black;
}
.cardbody {
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
  height: 92%;
  border-radius: 4px;
  text-align: center;
  box-shadow: 5px 10px 20px rgb(160, 160, 160);
}
.cardbody:hover {
  background-color: #d8b26e;
  transform: translateY(-4px);
  transition: 1s;
}

.cardbody img {
  border: 1px solid black;
  padding: 1%;
  border-radius: 4px;
}
